.content-wrapper{
    text-align: center;
    margin: 50px auto 100px auto;
    min-height: 15vh;
    max-width: 900px;
    padding: 0 20px;
    width: 100%;
    h1, h2{
        margin: 20px;
        margin-top: 50px;
        font-size: 1.6rem;
    }
    h1{
        font-size: 1.9rem;
    }
    p{
        text-align: justify;
    }
}