@import 'animations.scss';

.first-section-container{
    min-height: 100vh;
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto !important;
    margin-top: -100px !important;
    text-align: left;
    #sphere1{
        position: absolute;   
        left: 10px;
        top: 150px;
        animation: circeling 6s infinite;
        z-index: -1;
        width: 8%;
    }
    #sphere2{
        position: absolute;   
        left: -20px;
        top: 120px;
        z-index: -10;
        animation: shrink 4s infinite;
        z-index: -2;
        width: 18%;
    }
    #sphere3{
        position: absolute;   
        left: 150px;
        top: 80vh;
        animation: float 5s infinite;
        z-index: -1;
        width: 3%;
    }
    #sphere4{
        position: absolute; 
        right: 250px;
        top: 100px;  
        z-index: -1;
        width: 3%;
    }
    #sphere5{
        position: absolute;   
        right: 50px;
        top: 50vh;
        animation: floatLR 4s infinite;
        z-index: -1;
        width: 3%;
    }
    #sphere6{
        position: absolute;   
        right: 100px;
        top: 60vh;
        animation: circeling 6s infinite;
        z-index: -1;
        width: 9%;
    }
    #sphere7{
        position: absolute;   
        right: 200px;
        top: 80vh;
        animation: floatLR 3s infinite;
        z-index: -1;
        width: 6%;
    }
    #sphere8{
        position: absolute;   
        right: -50px;
        top: 60vh;
        animation: shrink 3s infinite;
        z-index: -2;
        width: 18%;
    }
    
    
    .first-section-heading{
        h1{
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    }
    #letter-d{
        max-width: 700px;
    }
}