.testimonial-block-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        margin-bottom: 4rem;
    }
    .testimonial-block-icon-container{
        display: flex;
        width: 95%;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    
}

.case-study-container{
    text-align: center;
    margin: 150px auto;
    max-width: 900px;

    h2{
        margin-bottom: 20px;
    }
    img{
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }
    p{
        width: 100%;
        padding: 10px 0;
        max-width: 800px;
        text-align: center;
        margin: 20px;
    }
}