@import 'animations.scss';
@import '_our-values.scss';
@import '_footer.scss';
@import '_contact-us.scss';
@import '_way-of-working.scss';
@import '_first-section.scss';
@import '_header.scss';
@import '_info1.scss';
@import '_financial-support.scss';

/* color variables */
$white: #fff;
$borderRadius: 20px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ProPixie", sans-serif;
}

@font-face {
  font-family: "ProPixie";
  src: url("../fonts/NunitoRegular-vmABZ.ttf");
  font-weight: normal;
  font-style: normal;
}

p{
  line-height: 1.875;
  font-size: 18px;
  font-weight: 400;
  
}

a{
  text-decoration: none;
}

h2{
  font-size: 36px;
  font-weight: 700;
}

.main-container{
  overflow-x: hidden;
  position: relative;
  section{
    margin: 8rem auto;
  }
}

.coding-text{
  font-size: 22px;
  line-height: 20px;
  color: #54e0c4;
  margin-bottom: .5rem;
}

.counterBlock{
  min-height: 240px;
  max-width: 1200px;
  background-size: cover;
  background-position: center;
  border-radius: $borderRadius;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 12rem auto;
  
  .countup{
    font-size: 2.5rem;
    font-weight: 700;
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.testimonials-wrapper{
  position: relative;
  #ball1{
    z-index: -1;
    position: absolute;
    left: 5%;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  #ball2{
    z-index: -1;
    position: absolute;
    right: 5%;
    top: 30%;
    
    animation: shrink 6s infinite;
  }
  #ball3{
    z-index: -1;
    position: absolute;
    left: 8%;
    top: 70%;
    animation: floatLR 5s infinite;
  }
  
}

.testimonial-container{
  display: flex;
  max-width: 1200px;
  margin: 12rem auto !important;
  
  .logo-container{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    img{
      width: 50%;
      border-radius: $borderRadius;
    }
  }
  .client-container{
    flex: 0 0 50%;
    
    h2{
      font-size: 36px;
      font-weight: 600;
    }
    .testimonial-description{
      margin: 2rem 0;
    }
  }
}

.call-btn{
  box-shadow: 0px 9px 30px 0 rgb(106 75 196 / 40%);
  background: radial-gradient(circle farthest-corner at 100% 150%,#d75dbc 10%,#6a4bc4 50%);
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 65px;
  line-height: 2;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: initial;
  white-space: nowrap;
  transition: inherit;
  min-width: 190px;
  min-height: 60px;
  padding: 10px 29.4px;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .testimonial-container{
    flex-direction: column;
    padding: 0 30px;
  }
  .counterBlock{
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    margin: 0 20px !important;
  }
}